body{
 background-imagen:url(halo ce.jpg);
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-size:100% 100%;
     }
arm{
 position:relative;
      width:100px;
      height:px;
      top:px;
      left:100px;
   }